<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>漫画——comic.mozillazg.com</title>
    <meta name="description" content="欢乐氰化物,Cyanide & Happiness 汉化,cyanide and happiness,漫画,comic">
    <meta name="author" content="mozillazg">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="canonical" href="http://comic.mozillazg.com">
    <meta name="author" content="mozillazg" />
    <!-- Open Graph tags -->
    <meta property="og:site_name" content="Mozillazg's Comic Site" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="Mozillazg's Comic Site"/>
    <meta property="og:url" content="http://comic.mozillazg.com"/>
    <meta property="og:description" content="Mozillazg's Comic Site,欢乐氰化物,Cyanide & Happiness 汉化,cyanide and happiness,漫画,comic"/>

    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css" media="all">
      body {
        margin-top: 1%;
      }
      article {
        text-align: center;
      }
      article img {
        display: block;
        margin: 0 auto;
      }
      .pagination {
        display: center;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="main row">

        <!-- .pagination -->
        <div class="row">
          <nav>
            <ul class="list-inline pager">
              <li><a rel="first" href="/first">|&lt;</a></li>
              <li><a rel="prev"
                  href="{{if ne .Prev.ID 0}}/{{.Prev.ID}}{{else}}#{{end}}"
                  >&lt;</a>
              </li>
              <li><a rel="random" href="/random">?</a></li>
              <li><a rel="next"
                  href="{{if ne .Next.ID 0}}/{{.Next.ID}}{{else}}#{{end}}"
                  >&gt;</a>
              </li>
              <li><a rel="first" href="/last">&gt;|</a></li>
            </ul>
          </nav>
        </div>
        <!-- .pagination end -->

        <!-- article -->
        <div class="row">
          <article>
            <img src="{{.Comic.ImageURL}}" alt="{{.Comic.Title}}" />
            <p class="note">{{.Comic.Description}}</p>
          </article>
        </div>
        <!-- article end -->

        <!-- .share -->
        <div class="row">
          <div class="share"></div>
        </div>
        <!-- .share end -->

        <!-- .pagination -->
        <div class="row">
          <nav>
            <ul class="list-inline pager">
              <li><a rel="first" href="/first">|&lt;</a></li>
              <li><a rel="prev"
                  href="{{if ne .Prev.ID 0}}/{{.Prev.ID}}{{else}}#{{end}}"
                  >&lt;</a>
              </li>
              <li><a rel="random" href="/random">?</a></li>
              <li><a rel="next"
                  href="{{if ne .Next.ID 0}}/{{.Next.ID}}{{else}}#{{end}}"
                  >&gt;</a>
              </li>
              <li><a rel="first" href="/last">&gt;|</a></li>
            </ul>
          </nav>
        </div>
        <!-- .pagination end -->

        <!-- .more -->
        <div class="row">
          <div class="more"></div>
        </div>
        <!-- .more end -->

        <!-- .comment -->
        <div class="row">
          <div class="comment"></div>
        </div>
        <!-- .comment end -->

      </div>
    </div>
  </body>
</html>
