<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>{{.Comic.Title}} | comic.mozillazg.com</title>
    <meta name="description" content="欢乐氰化物,Cyanide & Happiness 汉化,cyanide and happiness,漫画,comic">
    <meta name="author" content="mozillazg">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="canonical" href="http://comic.mozillazg.com/{{.Comic.ID}}"> -->
    <meta name="author" content="mozillazg" />
    <!-- Open Graph tags -->
    <meta property="og:site_name" content="mozillazg's Comic Site" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="mozillazg's Comic Site"/>
    <meta property="og:url" content="http://comic.mozillazg.com/{{.Comic.ID}}"/>
    <meta property="og:image" content="{{.Comic.ImageURL}}">
    <meta property="og:description" content="mozillazg's Comic Site,欢乐氰化物,Cyanide & Happiness 汉化,cyanide and happiness,漫画,comic"/>
    <!-- <meta property="article:publisher" content="https://www.facebook.com/mozillazg"> -->

    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="">
    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css" media="all">
      article img {
        max-width: 100%;
      }
      article p {
        margin-top: 5px;
      }
      .share {
        max-width: 200px;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="main row">

        <!-- .pagination start -->
        <div class="row">
          <nav>
            <ul class="list-inline pager">
              <li><a rel="first" href="/first">|&lt;</a></li>
              <li {{if eq .Prev.ID 0}}class="disabled"{{end}}>
                <a rel="prev" href="{{if ne .Prev.ID 0}}/{{.Prev.ID}}{{else}}#{{end}}">&lt;</a>
              </li>
              <li><a rel="random" href="/random">?</a></li>
              <li {{if eq .Next.ID 0}}class="disabled"{{end}}>
                <a rel="next" href="{{if ne .Next.ID 0}}/{{.Next.ID}}{{else}}#{{end}}">&gt;</a>
              </li>
              <li><a rel="first" href="/last">&gt;|</a></li>
            </ul>
          </nav>
        </div>
        <!-- .pagination end -->

        <!-- article start -->
        <div class="row">
          <article>
            <img class="center-block" src="{{.Comic.ImageURL}}" alt="{{.Comic.Title}}" />
            <p class="note text-center">{{.Comic.Description}} AT {{.Comic.Date}}</p>
          </article>
        </div>
        <!-- article end -->

        <!-- .share start -->
        <div class="row">
          <div class="share center-block">
            <!-- JiaThis Button BEGIN -->
            <div class="jiathis_style">
              <a class="jiathis_button_tsina"></a>
              <a class="jiathis_button_weixin"></a>
              <a class="jiathis_button_douban"></a>
              <a class="jiathis_button_tqq"></a>
              <a class="jiathis_button_twitter"></a>
              <a class="jiathis_button_googleplus"></a>
              <a class="jiathis_button_fb"></a>
              <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
              <a class="jiathis_counter_style"></a>
            </div>
            <!-- JiaThis Button END -->
          </div>
        </div>
        <!-- .share end -->

        <!-- .pagination start -->
        <div class="row">
          <nav>
            <ul class="list-inline pager">
              <li><a rel="first" href="/first">|&lt;</a></li>
              <li {{if eq .Prev.ID 0}}class="disabled"{{end}}>
                <a rel="prev" href="{{if ne .Prev.ID 0}}/{{.Prev.ID}}{{else}}#{{end}}">&lt;</a>
              </li>
              <li><a rel="random" href="/random">?</a></li>
              <li {{if eq .Next.ID 0}}class="disabled"{{end}}>
                <a rel="next" href="{{if ne .Next.ID 0}}/{{.Next.ID}}{{else}}#{{end}}">&gt;</a>
              </li>
              <li><a rel="first" href="/last">&gt;|</a></li>
            </ul>
          </nav>
        </div>
        <!-- .pagination end -->

        <!-- .more start -->
        <div class="row">
          <div class="more"></div>
        </div>
        <!-- .more end -->

        <!-- .comment start-->
        <div class="row">
          <div class="comment">
            <!-- 多说评论框 start -->
            <div class="ds-thread" data-thread-key="{{.Comic.ID}}" data-title="{{.Comic.Title}}" data-url="http://comic.mozillazg.com/{{.Comic.ID}}"></div>
            <!-- 多说评论框 end -->
          </div>
        </div>
        <!-- .comment end -->
      </div>

      <hr>
      <footer>
        <ol class="list-inline text-center">
          <li><a href="/archive">存档</a></li>
          <li><a href="http://mozillazg.com" target="_blank">博客</a></li>
        </ol>
      </footer>

    </div>

    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"comic-mozillazg"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
    <!-- 多说公共JS代码 end -->
  </body>
</html>
