{{$site := "http://comic.mozillazg.com"}}
{{$baseTitle := " | comic.mozillazg.com"}}
{{$id := .Comic.ID}}
{{$title := .Comic.Title}}
{{$image := .Comic.ImageURL}}
{{$desc := .Comic.Description}}
{{$date := .Comic.Date}}

<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>【汉化】{{$title}}{{$baseTitle}}</title>
    <meta name="description" content="{{$desc}} AT {{$date}}
快乐氰化物/Cyanide & Happiness/其他漫画 汉化/翻译">
    <meta name="keywords" content="快乐氰化物,Cyanide & Happiness,汉化,cyanide and happiness,漫画,comic,翻译">
    <meta name="author" content="mozillazg">
    <link href="{{$site}}/atom" rel="alternate" title="atom" type="application/atom+xml">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- <link rel="canonical" href="{{$site}}/{{$id}}"> -->
    <meta name="author" content="mozillazg" />
    <!-- Open Graph tags -->
    <meta property="og:site_name" content="mozillazg's Comic Site" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="【汉化】{{$title}}{{$baseTitle}}"/>
    <meta property="og:url" content="{{$site}}/{{$id}}"/>
    <meta property="og:image" content="{{$image}}">
    <meta property="og:description" content="{{$desc}} AT {{$date}}
快乐氰化物/Cyanide & Happiness/其他漫画 汉化/翻译">
    <!-- <meta property="article:publisher" content="https://www.facebook.com/mozillazg"> -->

    <link rel="stylesheet" href="">
    <link rel="shortcut icon" href="">
    <link href="http://tmp-images.qiniudn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- <link href="http://tmp&#45;images.qiniudn.com/bootstrap/3.3.4/css/bootstrap&#45;theme.min.css" rel="stylesheet"> -->
    <style type="text/css" media="all">
      body {
        background: url("http://tmp-images.qiniudn.com/lark/noise-grey.v1.png");
      }
      article {
        margin-bottom: 20px;
      }
      article img {
        max-width: 100%;
      }
      article p {
        margin-top: 20px;
        line-height: 20px;
      }
      .share {
        max-width: 200px;
      }
      footer {
        margin-top: 10px;
        margin-bottom: 20px;
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <!-- .pagination start -->
          <div class="row">
            <nav>
              <ul class="list-inline pager">
                <li><a href="/first">|&lt;</a></li>
                <li {{if eq .Prev.ID 0}}class="disabled"{{end}}>
                  <a href="{{if ne .Prev.ID 0}}/{{.Prev.ID}}{{else}}#{{end}}">&lt;</a>
                </li>
                <li><a href="/random">?</a></li>
                <li {{if eq .Next.ID 0}}class="disabled"{{end}}>
                  <a href="{{if ne .Next.ID 0}}/{{.Next.ID}}{{else}}#{{end}}">&gt;</a>
                </li>
                <li><a href="/">&gt;|</a></li>
              </ul>
            </nav>
          </div>
          <!-- .pagination end -->

          <!-- article start -->
          <div class="row">
            <article>
              <img class="center-block" src="{{$image}}" alt="{{$title}}" />
              <p class="note text-center">
                <span class="comic-desc">{{$desc}}</span>
                <br /> AT <span class="comic-date">{{$date}}</span>
              </p>
            </article>
          </div>
          <!-- article end -->

          <!-- .share start -->
          <div class="row">
            <div class="share center-block">
              <!-- JiaThis Button BEGIN -->
              <div class="jiathis_style">
                <a class="jiathis_button_tsina"></a>
                <a class="jiathis_button_weixin"></a>
                <a class="jiathis_button_douban"></a>
                <a class="jiathis_button_tqq"></a>
                <a class="jiathis_button_twitter"></a>
                <a class="jiathis_button_googleplus"></a>
                <a class="jiathis_button_fb"></a>
                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                <a class="jiathis_counter_style"></a>
              </div>
              <!-- JiaThis Button END -->
            </div>
          </div>
          <!-- .share end -->

          <!-- .pagination start -->
          <div class="row">
            <nav>
              <ul class="list-inline pager">
                <li><a href="/first">|&lt;</a></li>
                <li {{if eq .Prev.ID 0}}class="disabled"{{end}}>
                  <a href="{{if ne .Prev.ID 0}}/{{.Prev.ID}}{{else}}#{{end}}">&lt;</a>
                </li>
                <li><a href="/random">?</a></li>
                <li {{if eq .Next.ID 0}}class="disabled"{{end}}>
                  <a href="{{if ne .Next.ID 0}}/{{.Next.ID}}{{else}}#{{end}}">&gt;</a>
                </li>
                <li><a href="/">&gt;|</a></li>
              </ul>
            </nav>
          </div>
          <!-- .pagination end -->

          <!-- .more start -->
          <div class="row">
            <div class="more"></div>
          </div>
          <!-- .more end -->

          <!-- .comment start-->
          <div class="row">
            <div class="comment">
              <!-- 多说评论框 start -->
              <div class="ds-thread" data-thread-key="{{$id}}" data-title="{{$title}}" data-url="{{$site}}/{{$id}}"></div>
              <!-- 多说评论框 end -->
            </div>
          </div>
          <!-- .comment end -->
        </div>
      </div>
    </div>

    <footer class="footer">
      <div class="container">
        <ol class="list-inline text-center">
          <li><a href="/">首页</a></li>
          <li><a href="/archive">存档</a></li>
            <li><a href="/atom">Feed</a></li>
          <li><a href="http://mozillazg.com" target="_blank">博客</a></li>
        </ol>
      </div>
    </footer>

    <script src="http://tmp-images.qiniudn.com/jquery/2.1.3/jquery.min.js"></script>
    <script>
      $(function(){
        var text = $(".comic-desc").html();
        text = text.replace(/http:\/\/[^ ]+/, '<a href="$&" target="_blank">$&</a>');
        $(".comic-desc").html(text);
        console.log('网站源代码：https://github.com/mozillazg/comic');
      });
    </script>

    <script type="text/javascript" src="http://v3.jiathis.com/code_mini/jia.js" charset="utf-8"></script>
    <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
    <script type="text/javascript">
      var duoshuoQuery = {short_name:"comic-mozillazg"};
      (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
      })();
    </script>
    <!-- 多说公共JS代码 end -->

    <div class="hide" style="display: none !important;">
      <div vocab="http://schema.org/" typeof="Article">
        <span property="headline">【汉化】{{$title}}{{$baseTitle}}</span>
        <span property="description">{{$desc}} AT {{$date}}</span>
        <meta property="image" content="{{$image}}"/>
        <meta property="datePublished" content="{{$date}}T08:00:00+08:00"/>
      </div>
    </div>
  </body>
</html>
